@font-face {
  /* https://www.1001fonts.com/digital-7-font.html */
  font-family: 'Digital-7';
  src: url(digital-7.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(68, 54, 54);
}
#container {
  padding: 50px;
  box-sizing: border-box;
  display: flex top;
  flex-direction: column;
}
.app {
  width: 40%;
  min-width: 383px;
  min-height: 50%;
  margin: auto;
  padding: 30px;
  background-color: white;
  border: none;
  border-right: 4px solid #979797f5;
  border-bottom: 4px solid #979797f5;
  border-radius: 6px;
  box-sizing: border-box;
}
.header {
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.header-shadow {
  margin: 0;
  margin-left: 4.6px;
  padding: 0;
  content: attr(title);
  color: gray;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  position: absolute;
  top: 85px;
  transform: rotateX(70deg) skewX(-30deg);
}
.Calculator {
  width: 100%;
  margin: 0;
  border-radius: 3px;
}
.Calculator button {
  margin: 4px;
  padding: 4px;
  background-color: rgb(247, 247, 247);
  text-align: center;
  border: none;
  border-right: 2px solid #979797f5;
  border-bottom: 2px solid #979797f5;
  border-radius: 3px;
  font-weight: bold;
}
.Calculator button:hover:enabled {
  filter: brightness(95%)
}
.Calculator button:disabled {
  margin: 4px 5px 5px 4px;
  border-right: 1px solid #595959f5;
  border-bottom: 1px solid #595959f5;
  transform: translate(1px, 1px);
  filter: brightness(92%);
}
.Calculator button:active:enabled {
  margin: 4px 5px 5px 4px;
  border-right: 1px solid #595959f5;
  border-bottom: 1px solid #595959f5;
  transform: translate(1px, 1px);
  filter: brightness(97%);
}
.Calculator .reset-btn {
  color: plum;
}
.Calculator .remove-btn {
  color: orangered;
}
.Calculator .add-btn {
  color: greenyellow;
}
.Calculator .calculate-btn {
  color: rgb(47, 245, 255);
}
.Calculator .currency-select {
  margin: 4px;
  margin-left: 55%;
  padding: 4px;
  border: none;
  border-right: 2px solid #979797f5;
  border-bottom: 2px solid #979797f5;
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
  color: rgb(255, 213, 0);
  font-weight: bold;
}
.Calculator .currency-select option {
  font-weight: bold;
}

.Calculator .inputRow input {
  margin: 4px;
  padding : 1px;
  border: 4px solid darkcyan;
  border-style: inset;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-family: "Digital-7";
  font-size: 20px;
}
.result-content {
  margin: 0;
  padding: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.result-content h2 {
  margin: 0;
  padding: 0;
}
.result-content .line {
  margin: 0;
  margin-bottom: 7px;
  padding: 5px;
  border-bottom: dashed;
}
.result-content .date {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0;
  text-align: right;
}
.result-btn button {
  margin: 4px;
  padding: 4px;
  background-color: rgb(247, 247, 247);
  text-align: center;
  border: none;
  border-right: 2px solid #979797f5;
  border-bottom: 2px solid #979797f5;
  border-radius: 3px;
  color: rgb(0, 186, 133);
  font-weight: bold;
}
.result-btn button:hover {
  filter: brightness(95%)
}
.result-btn button:active {
  margin: 4px 5px 5px 4px;
  border-right: 1px solid #595959f5;
  border-bottom: 1px solid #595959f5;
  transform: translate(1px, 1px);
  filter: brightness(97%);
}
.result-content-list  h3 {
  margin: 0;
  margin-bottom: 7px;
}
.result-content-list .list-item {
  margin: 0px;
  margin-left: 40px;
  padding: 3px;
}